In [4]:
import pandas as pd

# Load the dataset
df = pd.read_csv("tallest_people_in_the_world.csv")

# Preview first rows
df.head()

,id,name,gender,country,continent,height_cm,height_ft_in,weight_kg,birth_year,death_year,lifespan,occupation,medical_condition,is_alive
0,1,John F. Carroll,Male,USA,North America,264,8 ft 8 in,140.0,1932,1969.0,37,NaN,Acromegaly,0
1,2,Robert Wadlow,Male,USA,North America,272,8 ft 11 in,199.0,1918,1940.0,22,Entertainer,Gigantism,0
2,3,John Rogan,Male,USA,North America,267,8 ft 9 in,79.0,1868,1905.0,37,Seller,Gigantism,0
3,4,Willie Camper,Male,USA,North America,260,8 ft 6.3 in,170.0,1924,1943.0,18,Entertainer,Gigantism,0
4,5,Siah Khan,Male,Iran,Asia,259,8 ft 6 in,155.0,1913,1939.0,26,Entertainer,Gigantism,0

In [5]:
# Dataset shape
df.shape

(157, 14)

In [6]:
# Column names and data types
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 157 entries, 0 to 156
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 157 non-null    int64
 1   name               157 non-null    object
 2   gender             157 non-null    object
 3   country            157 non-null    object
 4   continent          157 non-null    object
 5   height_cm          157 non-null    int64
 6   height_ft_in       157 non-null    object
 7   weight_kg          74 non-null     float64
 8   birth_year         157 non-null    int64
 9   death_year         84 non-null     float64
 10  lifespan           157 non-null    int64
 11  occupation         111 non-null    object
 12  medical_condition  157 non-null    object
 13  is_alive           157 non-null    int64
dtypes: float64(2), int64(5), object(7)
memory usage: 17.3+ KB

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 157 entries, 0 to 156
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 157 non-null    int64
 1   name               157 non-null    object
 2   gender             157 non-null    object
 3   country            157 non-null    object
 4   continent          157 non-null    object
 5   height_cm          157 non-null    int64
 6   height_ft_in       157 non-null    object
 7   weight_kg          74 non-null     float64
 8   birth_year         157 non-null    int64
 9   death_year         84 non-null     float64
 10  lifespan           157 non-null    int64
 11  occupation         111 non-null    object
 12  medical_condition  157 non-null    object
 13  is_alive           157 non-null    int64
dtypes: float64(2), int64(5), object(7)
memory usage: 17.3+ KB